html{
 background-color: black;
   text-align:center;
}

.aname{
    font-weight: bold;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;

}
.qoute{
    color: yellow;
    background-color: color-mix(in srgb-linear, red 20%, blue 80%);
}
.pic{
    border: 200px solid gold;
    border-width: 2px;
    border-color: gold;
    padding: 20px;
    margin-top: 20px;
    height: 500px;
    width: 500px;
}
